/* src/assets/main.css */

/* 全体のリセットっぽい軽い調整 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: #020617;
  color: #ffffff;
}

/* #app は画面いっぱいになるように */
#app {
  min-height: 100vh;
}
